@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.theme-dark body {
  background: #1D1F29;
}
.theme-light body {
  background: #F7F9FF;
}

img {
  width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-bottom: 2rem;
}
.logo-container h1 {
  font-size: 1.75rem;
  font-weight: bold;
}
.theme-dark .logo-container h1 {
  color: #FFFFFF;
}
.theme-light .logo-container h1 {
  color: #1D1F29;
}
.logo-container p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .logo-container p {
  color: #8C98C6;
}
.theme-light .logo-container p {
  color: #63687D;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
}

.social-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theme-dark .social-tile {
  background: #252B42;
}
.theme-light .social-tile {
  background: #F1F3FA;
}
.social-tile h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.125rem;
}
.theme-dark .social-tile h1 {
  color: #FFFFFF;
}
.theme-light .social-tile h1 {
  color: #1D1F29;
}
.social-tile p {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.theme-dark .social-tile p {
  color: #8C98C6;
}
.theme-light .social-tile p {
  color: #63687D;
}

.social-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.social-user h6 {
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .social-user h6 {
  color: #8C98C6;
}
.theme-light .social-user h6 {
  color: #63687D;
}

.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.instagram {
  width: 40%;
}

.social-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .social-counter {
  color: #8C98C6;
}
.theme-light .social-counter {
  color: #63687D;
}

.facebook {
  box-shadow: inset 0px 5px 0px 0px;
}
.theme-dark .facebook {
  color: #1DA1F2;
}
.theme-light .facebook {
  color: #178FF5;
}

.twitter {
  box-shadow: inset 0px 5px 0px 0px;
}
.theme-dark .twitter {
  color: #1DA1F2;
}
.theme-light .twitter {
  color: #1DA1F2;
}

.instagramBoxShadow {
  background: linear-gradient(to right, #fdc366, #ee877e, #df4896);
  height: 5px;
  width: 100%;
}

.youtube {
  box-shadow: inset 0px 5px 0px 0px;
}
.theme-dark .youtube {
  color: #DC414C;
}
.theme-light .youtube {
  color: #DC414C;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1.5rem;
}

.tile-title-container {
  display: flex;
  justify-content: space-between;
}

.tile-amounts-container {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */