@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.theme-dark body {
  background: #1D1F29;
}
.theme-light body {
  background: #F7F9FF;
}

img {
  width: 100%;
  height: auto;
}

.theme-dark .greenText {
  color: #1EB589;
}
.theme-light .greenText {
  color: #1EB589;
}

.theme-dark .redText {
  color: #DC414C;
}
.theme-light .redText {
  color: #DC414C;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-bottom: 2rem;
}
.logo-container h1 {
  font-size: 1.75rem;
  font-weight: bold;
}
.theme-dark .logo-container h1 {
  color: #FFFFFF;
}
.theme-light .logo-container h1 {
  color: #1D1F29;
}
.logo-container p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .logo-container p {
  color: #8C98C6;
}
.theme-light .logo-container p {
  color: #63687D;
}

.theme-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 1.75rem;
  width: 20%;
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .theme-selector-container {
  color: #FFFFFF;
}
.theme-light .theme-selector-container {
  color: #1D1F29;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, #40DB82, #388FE7);
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  transition: 0.4s;
}
.theme-dark .slider::before {
  background: #252B42;
}
.theme-light .slider::before {
  background: #F1F3FA;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

.social-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-bottom: 2rem;
}

.social-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.theme-dark .social-tile {
  background: #252B42;
}
.theme-light .social-tile {
  background: #F1F3FA;
}
.social-tile h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.125rem;
}
.theme-dark .social-tile h1 {
  color: #FFFFFF;
}
.theme-light .social-tile h1 {
  color: #1D1F29;
}
.social-tile p {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.theme-dark .social-tile p {
  color: #8C98C6;
}
.theme-light .social-tile p {
  color: #63687D;
}

.social-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.social-user h6 {
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .social-user h6 {
  color: #8C98C6;
}
.theme-light .social-user h6 {
  color: #63687D;
}

.followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.instagram {
  width: 40%;
}

.social-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
}
.theme-dark .social-counter {
  color: #8C98C6;
}
.theme-light .social-counter {
  color: #63687D;
}

.counter-margin {
  margin-bottom: 1rem;
}

.facebookBoxShadow {
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.theme-dark .facebookBoxShadow {
  background: #178FF5;
}
.theme-light .facebookBoxShadow {
  background: #178FF5;
}

.twitter-user {
  height: 20px;
}

.twitterBoxShadow {
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.theme-dark .twitterBoxShadow {
  background: #1DA1F2;
}
.theme-light .twitterBoxShadow {
  background: #1DA1F2;
}

.instagramBoxShadow {
  background: linear-gradient(to right, #fdc366, #ee877e, #df4896);
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.youtubeBoxShadow {
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.theme-dark .youtubeBoxShadow {
  background: #DC414C;
}
.theme-light .youtubeBoxShadow {
  background: #DC414C;
}

.overview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1.5rem;
}

.tile-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  p-font-size: 0.75rem;
  p-font-weight: bold;
}
.theme-dark .tile-title-container {
  color: #8C98C6;
}
.theme-light .tile-title-container {
  color: #63687D;
}

.tile-amounts-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 2rem;
}
.theme-dark .tile-amounts-container {
  color: #FFFFFF;
}
.theme-light .tile-amounts-container {
  color: #1D1F29;
}

.overview-header {
  margin-bottom: 1.5rem;
}
.theme-dark .overview-header {
  color: #FFFFFF;
}
.theme-light .overview-header {
  color: #1D1F29;
}

.overview-tile {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 5px;
}
.theme-dark .overview-tile {
  background: #252B42;
}
.theme-light .overview-tile {
  background: #F1F3FA;
}/*# sourceMappingURL=main.css.map */