// import individual scss files
@import "./styles/reset";
@import "./styles/fonts";
@import "./styles/color-palette";
@import "./styles/mixins";

// set body padding
.body {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}


// social grid holding social tiles
.social-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}
// facebook tile
