// import individual scss files
@import "./styles/reset";
@import "./styles/fonts";
@import "./styles/color-palette";
@import "./styles/mixins";

// set body padding
body {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

// header container with page logo and theme selector
.header-container {
    display: flex;
    justify-content: space-between;
}

// ================
// social tile grid
// ================

// social grid holding social tiles
.social-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

// social user flex container
// contains social icon and username
.social-user {
    display: flex;
}

// social counter containing svg icon and number of followers
.social-counter {
    display: flex;
}
// facebook tile


// ================
// overview section
// ================
.overview-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}