$primaryBackground: #1D1F29;
$primaryText: #FFFFFF;
$secondaryText: #8C98C6;
$tileBackground: #252B42;
$tileHover: #333A55;
$facebookTileShadow: #1DA1F2;
$facebookFill: #178FF5;
$twitterTileShadow: #1DA1F2;
$twitterFill: #1DA1F2;
$youtubeTileShadow: #DC414C;
$youtubeFill: #DC414C;
$redText: #DC414C;
$downIconFill: #DC414C;
$greenText: #1EB589;
$upIconFill: #1EB589;
$instagramFill: linear-gradient(to right #DF4896, #EE877E, #FDC366);
$instagramTileShadow: linear-gradient(to right #DF4896, #EE877E, #FDC366);
$themeToggleTrack: linear-gradient(to bottom #40DB82, #388FE7);
$themeToggle: #252B42;
