$primaryBackground: #F7F9FF;
$primaryText: #1D1F29;
$secondaryText: #63687D;
$tileBackground: #F1F3FA;
$tileHover: #E1E4F0;
$facebookTileShadow: #178FF5;
$facebookFill: #178FF5;
$twitterTileShadow: #1DA1F2;
$twitterFill: #1DA1F2;
$youtubeTileShadow: #DC414C;
$youtubeFill: #DC414C;
$redText: #DC414C;
$downIconFill: #DC414C;
$greenText: #1EB589;
$upIconFill: #1EB589;
$instagramFill: linear-gradient(to right #DF4896, #EE877E, #FDC366);
$instagramTileShadow: linear-gradient(to right #DF4896, #EE877E, #FDC366);
$themeToggleTrack: #AEB3CB;
$themeToggle: #F1F3FA;
